.lt-ie9 {

  .vermonster-logo {
    background-image: asset-url('vermonster-logo.png');
  }

  .bps-logo {
    background-image: asset-url('bps-logo-2.png');
  }

  #wmsb-logo {
    background: asset-url('logo.png');
  }

  .survey-content {
    width: 150px;
  }

  .vermonster-text, .icon-mail, .icon-phone {
    display: none;
    @media (min-width: $break-med + 1) {
      display: block;
    }
  }
}
